{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}
    <style>
        body{
            background-color: darkgray;
        }
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
       h2{
           color: #313131;
       }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>

    <div class="example-wrapper">
        <h2>Liste des Évènements</h2>
        <!-- Page Content -->
        <div class="example-wrapper">
            <a href="{{ path( 'home' ) }}">Revenir à l'Accueil</a>


            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="row">
                        Date
                    </th>
                    <th scope="row">
                        Film
                    </th>
                    <th scope="row">
                        Nbre participants
                    </th>
                    <th scope="row">
                        Organisateur
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Date de l'évènement
                    </td>
                    <td>
                        titre du film à récupérer
                    </td>
                    <td>
                        nombre de membres inscrits
                    </td>
                    <td>
                        Membre organisateur (cliquable)
                    </td>
                </tr>
                {% for eventtest in eventtests   %}
                <tr>
                    <td>
                       {{ eventtest.date | date('Y-m-d')}}
                    </td>
                    <td>
                        {{ eventtest.film }}
                    </td>
                    <td>
                        {{ eventtest.nbparticipant }}
                    </td>
                    <td>
                        <a href=""> {{ eventtest.organisateur}} </a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
{% endblock %}
